* {
  font-family: "Mina", serif;
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: Arial, sans-serif;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  background-color: #0284d6;
  color: white;
  padding: 10px 0;
  text-align: center;
}

header h1 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.5rem;
  color: black;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 15px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: 700;
}

section {
  padding: 20px;
  border-bottom: 1px solid #ddd;
  min-height: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1rem;
}

footer {
  text-align: center;
  background-color: #0284d6;
  color: white;
  padding: 15px 0;
  min-height: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
